<!doctype html>
<html lang="en" {{ html_attribute ?? '' }}>

<head>

    {{ include('./partials/title-meta.html.twig') }}

    {% block styles %}{% endblock %}

    {{ include('./partials/head-css.html.twig') }}

</head>

<body>

{% block content %}{% endblock %}

{% block scripts %}{% endblock %}

</body>

</html>
